<!--<iframe src="https://datav.aliyuncs.com/share/d2d6a3c9a450a84c424dd056a204682d"-->
<!--style="width: 100%;height: 100%"></iframe>-->
<style>
    .datav-a {
        font-size: 18px;
    }
</style>
<div id="datav" class="container-fluid datav-a">
    <h2>大屏页面列表</h2>
    <ul class="list-group" style="margin-top: 20px">
        <li class="list-group-item">
            <a href="https://datav.aliyuncs.com/share/d2d6a3c9a450a84c424dd056a204682d" target="_blank">智汇农贸市场</a>
        </li>
        <li class="list-group-item">大屏模板2</li>
        <li class="list-group-item">大屏模板3</li>
        <li class="list-group-item">大屏模板4</li>
        <li class="list-group-item">大屏模板5</li>
    </ul>
</div>
<script>
    // let data = [
    //     {title: "智汇农贸市场", addr: "https://datav.aliyuncs.com/share/d2d6a3c9a450a84c424dd056a204682d"}
    // ];
    // let $datav = $("#datav");
    // data.forEach(function (item) {
    //     $datav.append('<a href="' + item["addr"] + '" target="_blank">' + item["title"] + '</a>');
    // });
</script>