<li class="page-li">
    <div class="panel panel-info page-pannel">
        <span class="pannel-close"></span>
        <div class="panel-heading">
            <a href="http://www.baidu.com" target="_blank">
                <h3 class="panel-title"
                    style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis">
                    带有的面板标题,带有的面板标题,带有的面板标题啊时代发生的发
                </h3>
            </a>
        </div>
        <div class="panel-body page-pannel-body text-left">
            <div style="height: 240px;">
                <div style="height:240px;width: 240px;float: left;" class="page-img">
                    <img src="https://sf1-ttcdn-tos.pstatp.com/obj/temai/FofaOIMCsP6DpGpWwdwMX1nYDxoBwww800-800"
                         draggable="false">
                </div>
                <div style="overflow:hidden;padding: 0 10px">
                    <div style="height: 100px;width: 100px" class="page-img">
                        <span class="img-close"></span>
                        <img src="https://sf3-ttcdn-tos.pstatp.com/obj/temai/FjnlTTVbOnY5F3wvIygnt7lOH_Fl.jpg"
                             draggable="false">
                    </div>
                    <div style="height: 100px;width: 100px" class="img-add">
                        <span>添加副图</span>
                        <span class="plus-icon">+</span>
                    </div>
                </div>
            </div>

            <div style="height: 25px;overflow: hidden;padding: 4px">
                <ul class="list-inline">
                    <li class="goods-li price">3281349173349353419</li>
                    <li class="goods-li sale"><span>销量:</span><span>523</span></li>
                    <li class="goods-li commission"><span>佣金:</span><span>18%</span></li>
                </ul>
            </div>
            <div style="height: 35px">
                <div style="float: left;width: 75px;line-height:32px">
                    <label>产品标题:</label>
                </div>
                <div style="overflow: hidden">
                    <input class="form-control" style="width:100%"
                           placeholder="请输入6-20字，末尾不能为句号或叹号"/>
                </div>
            </div>
            <div style="height: 85px">
                <textarea class="form-control" placeholder="主图文案:请输入50-100字"></textarea>
            </div>
            <div style="height: 85px">
                <textarea class="form-control" placeholder="副图文案:请输入50-100字"></textarea>
            </div>
        </div>
    </div>
</li>