<div class="container-fluid">
    <div id="role_tools" class="lbl-table-tools">
        <div class="form-inline" role="form">
            <div class="form-group">
                <button type="button" id="department_add_role" class="btn btn-default displayTable"
                        data-url="/PDeparment/role/add" title="部门添加角色">
                    <i class="glyphicon glyphicon-plus"></i>增添角色
                </button>
                <button type="button" class="btn btn-default del" data-url="/PDeparment/role/del"
                        title="部门移出角色">
                    <i class="glyphicon glyphicon-minus"></i>移出角色
                </button>
                <button type="button" class="btn btn-default btn-sm hidden-md hidden-lg toggle">
                    <i class="glyphicon glyphicon-list-alt icon-list-alt"></i>
                </button>
            </div>
            <form style="display: inline-block">
                <div class="form-group">
                    <input style="display: none">
                    <input name="search" class="form-control" type="text" placeholder="名称">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary search" type="button">查询</button>
                </div>
            </form>
        </div>
    </div>
    <table id="role_table" data-tools="#role_tools"></table>
</div>
<div id="add_role_tools" style="display: none">
    <div id="modal_department_tools" class="lbl-table-tools">
        <form class="form-inline" role="form" style="display: inline-block">
            <div class="form-group">
                <input style="display: none">
                <input name="search" class="form-control" type="text" placeholder="名称" autocomplete="off">
            </div>
            <div class="form-group">
                <button class="btn btn-primary search" type="button">查询</button>
            </div>
        </form>
    </div>
    <table data-tools="#modal_department_tools"></table>
</div>
<script>
    $(function () {
        //------------获取元素-------------------
        let $role_table = $("#role_table");//角色table
        let $treeNode = $("#treeNode");//选中树节点 内容
        let $add_role_tools = $("#add_role_tools");
        let $department_add_role = $("#department_add_role");//添加角色按钮
        //---------------END--------------------
        let options = {};
        let node_level = $treeNode.find("input[name='level']").val();
        let node_id = $treeNode.find("input[name='id']").val();
        let node_ids = $treeNode.find("input[name='node_ids']").val();
        let node_is_parent = $treeNode.find("input[name='isParent']").val();
        options.url = "/PDeparment/role/list";
        //删除按钮相关操作
        options["del"] = {
            before: function ($button) {
                if (node_is_parent === "true") {
                    tipbox.warning("该部门具有子部门，无法移出角色！");
                    return false;
                }
                return true;
            },
            params: {
                node_id: node_id
            }
        };
        options.queryParams = function (params) {
            let form_array = $("#role_tools").find("form").serializeForm();
            return $.extend({
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                sortName: params.sortName,
                sortOrder: params.sortOrder,
                node_id: node_id,
                node_ids: node_ids
            }, form_array || {});
        };
        options.columns = [{
            checkbox: true
        }, {
            halign: "left",
            align: "left",
            valign: "middle",
            sortable: false,
            field: 'role_name',
            title: '角色名称'
        }];
        initTable($role_table, options);
        //------弹出框表初始化参数-----------------
        let $modal_form = $add_role_tools.find("form");
        let modal_table_options = {};
        modal_table_options.title = "选择角色"
        modal_table_options.url = "/PDeparment/role/addlist";
        modal_table_options.queryParams = function (params) {
            let form_array = $modal_form.serializeForm();
            return $.extend({
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                sortName: params.sortName,
                sortOrder: params.sortOrder,
                node_id: node_id,
                node_ids: node_ids,
            }, form_array || {});
        };
        modal_table_options.columns = [{
            checkbox: true
        }, {
            halign: "left",
            align: "left",
            valign: "middle",
            sortable: false,
            field: 'role_name',
            title: '角色名称'
        }];
        $department_add_role.click(function () {
            if (node_is_parent === "true") {
                tipbox.warning("选中部门具有子部门无法增添角色！");
                return false;
            }
            initModalTable($add_role_tools, modal_table_options, function (rows) {
                if (_.isEmpty(rows)) {
                    tipbox.error("添加失败：前端")
                    return false;
                }
                let ids = _.pluck(rows, "id");
                let url = $department_add_role.data("url");
                $.ajaxForm({
                    url: url,
                    method: "post",
                    data: {"id": ids, "node_id": node_id},
                    success: function (data) {
                        tipbox.ainfo(data);
                        $role_table.bootstrapTable("refresh");
                    }
                });
            })
        });
    });
</script>