<div class="sidebar open">
    <div class="header">
        <div class="title">部门管理</div>
    </div>
    <div class="body-box">
        <div class="body">
            <ul id="group_tree" data-url="/PDeparment/department/list" data-select="/PDeparment/department/select"
                data-select-param="id,parent_id,name,isParent,level" data-tools="#group_tree_menu" class="ztree">
            </ul>
        </div>
    </div>
    <div class="pointer" title="隐藏/显示"></div>
</div>
<div class="main"></div>
<ul id="group_tree_menu" class="lbl-context-menu">
    <li class="add" data-form="#tree_add" data-url="/PDeparment/department/add">
        <div class="icon glyphicon glyphicon-plus"></div>
        <div class="title">添加子部门</div>
    </li>
    <li class="edit" data-form="#tree_edit" data-url="/PDeparment/department/edit">
        <div class="icon glyphicon glyphicon-edit"></div>
        <div class="title">修改选中部门</div>
    </li>
    <li class="del" data-url="/PDeparment/department/del">
        <div class="icon glyphicon glyphicon-trash"></div>
        <div class="title">删除选中部门</div>
    </li>
</ul>
<form id="tree_add" class="form-horizontal" style="display: none">
    <div class="form-group" style="display: none">
        <label class="control-label col-xs-3">父节点id</label>

        <div class="col-xs-8">
            <input name="parent_id" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group" style="display: none">
        <label class="control-label col-xs-3">父节点level</label>

        <div class="col-xs-8">
            <input name="parent_level" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">父节点</label>

        <div class="col-xs-8">
            <input name="parent_name" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">名称</label>

        <div class="col-xs-8">
            <input name="department_name" type="text" class="form-control">
        </div>
    </div>
</form>
<form id="tree_edit" class="form-horizontal" style="display: none">
    <div class="form-group" style="display: none">
        <label class="control-label col-xs-3">节点id</label>

        <div class="col-xs-8">
            <input name="id" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">名称</label>

        <div class="col-xs-8">
            <input name="department_name" type="text" class="form-control">
        </div>
    </div>
</form>
<script>
    let options = {
        add: {
            before: function ($button, node, tree_obj) {
                if (node.level >= 2) {
                    tipbox.warning("部门最多只能创建三层层！");
                    return false;
                }
                return true;
            }
        },
        edit: {
            before: function ($button, node, tree_obj) {
                if (node.level == 0) {
                    tipbox.warning("根节点不允许被修改！");
                    return false
                }
                return true;
            }
        },
        click: {
            //添加节点点击自定义参数
            before: function () {
                let params = {active_tab: 0};
                let $li = $("#group_tabs").find("li.active");
                if ($li.length > 0) {
                    params.active_tab = $li.index();
                }
                return params;
            }
        }
    }
    initZtree($("#group_tree"), options);
</script>
