@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px; }
  html a:hover, body a:hover {
    color: #2152A0;
    text-decoration: none; }
  html .lbl-table-tools, body .lbl-table-tools {
    background: white;
    width: 100%;
    padding: 5px 0; }
  html .lbl-star:before, body .lbl-star:before {
    content: '*';
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -7px;
    margin-top: -2px;
    color: red;
    font-size: 22px; }
  html .lbl-log, body .lbl-log {
    white-space: pre-wrap;
    /*css-3*/
    white-space: -moz-pre-wrap;
    /*Mozilla,since1999*/
    white-space: -o-pre-wrap;
    /*Opera7*/
    word-wrap: break-word;
    /*InternetExplorer5.5+*/
    margin: -3px;
    padding: 0;
    width: auto;
    border: none;
    background-color: inherit; }
  html .lbl-context-menu, body .lbl-context-menu {
    display: none;
    position: fixed;
    z-index: 999;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    width: 150px;
    border: solid 1px #CCC;
    background: #F0F0F0; }
    html .lbl-context-menu .icon, body .lbl-context-menu .icon {
      display: inline-block;
      text-align: center;
      width: 25px;
      border-right: 1px solid #ffffff; }
    html .lbl-context-menu .title, body .lbl-context-menu .title {
      display: inline-block; }
    html .lbl-context-menu > li, body .lbl-context-menu > li {
      padding: 5px 0 5px 2px; }
      html .lbl-context-menu > li:hover, body .lbl-context-menu > li:hover {
        border-radius: 3px;
        margin: -1px;
        border: 1px solid #aecff7;
        cursor: pointer; }
  html .lbl-user-page, body .lbl-user-page {
    font-size: 18px;
    padding: 10px 5px;
    width: 100%;
    background: #eaedf1;
    margin: 5px 0;
    border-radius: 2px; }
    html .lbl-user-page > .return, body .lbl-user-page > .return {
      cursor: pointer;
      color: #00aaee; }
      html .lbl-user-page > .return:hover, body .lbl-user-page > .return:hover {
        color: #2152b3; }
    html .lbl-user-page > .title, body .lbl-user-page > .title {
      font-weight: bold; }
  html .lbl-icon.error, html .lbl-icon.info, html .lbl-icon.success, html .lbl-icon.warning, body .lbl-icon.error, body .lbl-icon.info, body .lbl-icon.success, body .lbl-icon.warning {
    height: 32px;
    width: 38px;
    float: left;
    margin-right: 5px; }
  html .lbl-icon.error, body .lbl-icon.error {
    background: url("/public/img/error.png") no-repeat; }
  html .lbl-icon.info, body .lbl-icon.info {
    background: url("/public/img/info.png") no-repeat; }
  html .lbl-icon.success, body .lbl-icon.success {
    background: url("/public/img/success.png") no-repeat; }
  html .lbl-icon.warning, body .lbl-icon.warning {
    background: url("/public/img/warning.png") no-repeat; }
  html .lbl-auto-tipbox, body .lbl-auto-tipbox {
    position: fixed;
    top: 0;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    z-index: 999;
    padding: 15px 15px 15px 50px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px #999;
    color: #FFF;
    opacity: 0.9;
    cursor: pointer; }
    html .lbl-auto-tipbox:hover, body .lbl-auto-tipbox:hover {
      box-shadow: 0 0 12px #000;
      opacity: 1; }
    html .lbl-auto-tipbox.ainfo, body .lbl-auto-tipbox.ainfo {
      background-color: #2F96B4;
      background-image: url("/public/img/ainfo.png") !important; }
    html .lbl-auto-tipbox.aerror, body .lbl-auto-tipbox.aerror {
      background-color: #BD362F;
      background-image: url("/public/img/aerror.png") !important; }
    html .lbl-auto-tipbox.asuccess, body .lbl-auto-tipbox.asuccess {
      background-color: #51A351;
      background-image: url("/public/img/asuccess.png") !important; }
    html .lbl-auto-tipbox.awarning, body .lbl-auto-tipbox.awarning {
      background-color: #F89406;
      background-image: url("/public/img/awarning.png") !important; }
  html .lbl-input-group-modal > .input-group-addon, body .lbl-input-group-modal > .input-group-addon {
    cursor: pointer;
    color: white;
    background: #00aaee; }
  html .col-xs-1, html .col-sm-1, html .col-md-1, html .col-lg-1, html .col-xs-2, html .col-sm-2, html .col-md-2, html .col-lg-2, html .col-xs-3, html .col-sm-3, html .col-md-3, html .col-lg-3, html .col-xs-4, html .col-sm-4, html .col-md-4, html .col-lg-4, html .col-xs-5, html .col-sm-5, html .col-md-5, html .col-lg-5, html .col-xs-6, html .col-sm-6, html .col-md-6, html .col-lg-6, html .col-xs-7, html .col-sm-7, html .col-md-7, html .col-lg-7, html .col-xs-8, html .col-sm-8, html .col-md-8, html .col-lg-8, html .col-xs-9, html .col-sm-9, html .col-md-9, html .col-lg-9, html .col-xs-10, html .col-sm-10, html .col-md-10, html .col-lg-10, html .col-xs-11, html .col-sm-11, html .col-md-11, html .col-lg-11, html .col-xs-12, html .col-sm-12, html .col-md-12, html .col-lg-12, body .col-xs-1, body .col-sm-1, body .col-md-1, body .col-lg-1, body .col-xs-2, body .col-sm-2, body .col-md-2, body .col-lg-2, body .col-xs-3, body .col-sm-3, body .col-md-3, body .col-lg-3, body .col-xs-4, body .col-sm-4, body .col-md-4, body .col-lg-4, body .col-xs-5, body .col-sm-5, body .col-md-5, body .col-lg-5, body .col-xs-6, body .col-sm-6, body .col-md-6, body .col-lg-6, body .col-xs-7, body .col-sm-7, body .col-md-7, body .col-lg-7, body .col-xs-8, body .col-sm-8, body .col-md-8, body .col-lg-8, body .col-xs-9, body .col-sm-9, body .col-md-9, body .col-lg-9, body .col-xs-10, body .col-sm-10, body .col-md-10, body .col-lg-10, body .col-xs-11, body .col-sm-11, body .col-md-11, body .col-lg-11, body .col-xs-12, body .col-sm-12, body .col-md-12, body .col-lg-12 {
    padding-right: 2px;
    padding-left: 2px; }
  html .row, body .row {
    margin-right: -5px;
    margin-left: -5px; }
  html .table > thead > tr > td.selected,
  html .table > tbody > tr > td.selected,
  html .table > tfoot > tr > td.selected,
  html .table > thead > tr > th.selected,
  html .table > tbody > tr > th.selected,
  html .table > tfoot > tr > th.selected,
  html .table > thead > tr.selected > td,
  html .table > tbody > tr.selected > td,
  html .table > tfoot > tr.selected > td,
  html .table > thead > tr.selected > th,
  html .table > tbody > tr.selected > th,
  html .table > tfoot > tr.selected > th, body .table > thead > tr > td.selected,
  body .table > tbody > tr > td.selected,
  body .table > tfoot > tr > td.selected,
  body .table > thead > tr > th.selected,
  body .table > tbody > tr > th.selected,
  body .table > tfoot > tr > th.selected,
  body .table > thead > tr.selected > td,
  body .table > tbody > tr.selected > td,
  body .table > tfoot > tr.selected > td,
  body .table > thead > tr.selected > th,
  body .table > tbody > tr.selected > th,
  body .table > tfoot > tr.selected > th {
    background-color: #dff0d8; }
  html .table-hover > tbody > tr > td.selected:hover,
  html .table-hover > tbody > tr > th.selected:hover,
  html .table-hover > tbody > tr.selected:hover > td,
  html .table-hover > tbody > tr:hover > .selected,
  html .table-hover > tbody > tr.selected:hover > th, body .table-hover > tbody > tr > td.selected:hover,
  body .table-hover > tbody > tr > th.selected:hover,
  body .table-hover > tbody > tr.selected:hover > td,
  body .table-hover > tbody > tr:hover > .selected,
  body .table-hover > tbody > tr.selected:hover > th {
    background-color: #d0e9c6; }
  html .modal-body, body .modal-body {
    padding: 5px 15px; }
  html .modal-body .fixed-table-pagination div.pagination, html .fixed-table-pagination .pagination-detail, body .modal-body .fixed-table-pagination div.pagination, body .fixed-table-pagination .pagination-detail {
    margin-bottom: 0; }
  html .modal-body .pagination, body .modal-body .pagination {
    display: inherit; }
  html .project, body .project {
    float: left;
    width: 150px;
    height: 100%;
    background: #FFF0F5;
    padding-top: 8px;
    overflow-y: auto; }
    html .project > .menu, body .project > .menu {
      cursor: pointer;
      list-style: none;
      padding: 0;
      line-height: 40px; }
      html .project > .menu .title, body .project > .menu .title {
        padding-left: 20px; }
      html .project > .menu > .active, body .project > .menu > .active {
        background: #ffffff; }
      html .project > .menu > :not(.active):hover, body .project > .menu > :not(.active):hover {
        background: #f4f6f8; }

.lbl-login {
  text-align: center;
  padding-top: 100px;
  height: 100%; }
  .lbl-login:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/public/img/login_bg.jpg");
    background-size: cover;
    -webkit-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px); }

.lbl-sidebar {
  float: left;
  height: 100%;
  background-color: #333744;
  color: #ffffff;
  overflow-y: auto;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s; }
  .lbl-sidebar.open {
    width: 180px; }
    .lbl-sidebar.open > .logo > .mini {
      display: none; }
    .lbl-sidebar.open > .logo > .open {
      display: block; }
  .lbl-sidebar.mini {
    width: 50px; }
    .lbl-sidebar.mini > .logo > .mini {
      display: inline-block; }
    .lbl-sidebar.mini > .logo > .open {
      display: none; }
  .lbl-sidebar.off {
    width: 0; }
    .lbl-sidebar.off > .logo > .mini {
      display: none; }
  .lbl-sidebar > .logo {
    background-color: #373d41;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    border-right: 1px solid #333; }
  .lbl-sidebar .main-menu {
    background-color: #42485b; }
    .lbl-sidebar .main-menu .father:hover,
    .lbl-sidebar .main-menu .child:not(.active):hover {
      background-color: #1e282c; }
  .lbl-sidebar .sub-menu {
    background-color: #333744; }
    .lbl-sidebar .sub-menu .child:not(.active):hover {
      background-color: #4a5064; }
  .lbl-sidebar .father, .lbl-sidebar .child {
    position: relative;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    line-height: 40px; }
    .lbl-sidebar .father > .icon, .lbl-sidebar .child > .icon {
      display: inline-block;
      text-align: center;
      width: 50px; }
    .lbl-sidebar .father > .title, .lbl-sidebar .child > .title {
      display: inline-block;
      width: 130px; }
    .lbl-sidebar .father.active, .lbl-sidebar .child.active {
      background-color: #00c1de; }
      .lbl-sidebar .father.active:before, .lbl-sidebar .child.active:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6.6666666667px;
        border: 6.6666666667px solid transparent;
        border-right-color: #eaedf1; }
  .lbl-sidebar .bubble {
    position: fixed;
    z-index: 2;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    border-radius: 6.6666666667px;
    padding: 0 6.6666666667px;
    background: #556370;
    left: 56.6666666667px; }
    .lbl-sidebar .bubble:before {
      position: absolute;
      content: "";
      border: 6.6666666667px solid transparent;
      margin-top: -6.6666666667px;
      border-right-color: #556370;
      right: 100%;
      top: 50%; }

.lbl-navbar {
  position: relative;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  background-color: #373d41;
  color: #ffffff; }
  .lbl-navbar > .button {
    margin-left: -1px;
    float: left;
    cursor: pointer;
    padding: 0 16.6666666667px;
    height: 50px;
    line-height: 50px;
    border-left: 1px solid #333;
    border-right: 1px solid #333; }
    .lbl-navbar > .button:hover {
      background-color: #2a2f32; }
  .lbl-navbar .user-box {
    position: fixed;
    width: 280px;
    background: #ECF0F5;
    text-align: center; }
    .lbl-navbar .user-box > .header {
      background: #00AAEE;
      padding: 20px; }
      .lbl-navbar .user-box > .header > .title {
        margin-top: 10px; }
    .lbl-navbar .user-box > .footer {
      line-height: 40px;
      width: 100%; }
  .lbl-navbar .user-img {
    display: inline-block;
    background: url("/public/img/user_img.jpg");
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle; }
    .lbl-navbar .user-img.small {
      width: 25px;
      height: 25px; }
    .lbl-navbar .user-img.large {
      width: 100px;
      height: 100px; }

.lbl-content {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-top: -50px;
  padding-top: 50px;
  background-color: #ffffff; }
  .lbl-content > .sidebar {
    position: relative;
    z-index: 1;
    float: left;
    background-color: #eaedf1;
    white-space: nowrap;
    height: 100%;
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s; }
    .lbl-content > .sidebar.open {
      width: 150px; }
      .lbl-content > .sidebar.open > .pointer {
        right: 0;
        text-align: right; }
        .lbl-content > .sidebar.open > .pointer:before {
          content: "\e128"; }
    .lbl-content > .sidebar.off {
      width: 0; }
      .lbl-content > .sidebar.off > .pointer {
        left: 100%;
        text-align: left; }
        .lbl-content > .sidebar.off > .pointer:before {
          content: "\e127"; }
    .lbl-content > .sidebar > .header {
      overflow: hidden;
      height: 50px;
      background: #d9dee4; }
      .lbl-content > .sidebar > .header > .title {
        line-height: 50px;
        margin-left: 16.6666666667px;
        font-weight: bolder;
        font-size: 20px;
        font-family: 楷体; }
    .lbl-content > .sidebar > .body-box {
      overflow: hidden;
      height: 100%;
      margin-top: -50px;
      padding-top: 50px; }
      .lbl-content > .sidebar > .body-box > .body {
        overflow-y: auto;
        height: 100%; }
        .lbl-content > .sidebar > .body-box > .body > .menu {
          cursor: pointer;
          list-style: none;
          padding: 0;
          line-height: 40px; }
          .lbl-content > .sidebar > .body-box > .body > .menu .title {
            padding-left: 30.7692307692px; }
          .lbl-content > .sidebar > .body-box > .body > .menu > .active {
            background: #ffffff; }
          .lbl-content > .sidebar > .body-box > .body > .menu > :not(.active):hover {
            background: #f4f6f8; }
    .lbl-content > .sidebar > .pointer {
      position: absolute;
      width: 20px;
      height: 40px;
      margin-top: -20px;
      line-height: 40px;
      background: transparent;
      cursor: pointer;
      top: 50%;
      font-family: 'Glyphicons Halflings';
      opacity: 0.8; }
      .lbl-content > .sidebar > .pointer:hover {
        color: blue;
        opacity: 1; }
  .lbl-content > .main {
    overflow: auto;
    height: 100%; }
    .lbl-content > .main > .header {
      overflow: hidden;
      height: 42px; }
    .lbl-content > .main > .body-box {
      overflow: hidden;
      height: 100%;
      margin-top: -42px;
      padding-top: 42px; }
      .lbl-content > .main > .body-box > .body {
        overflow: auto;
        height: 100%; }

/*# sourceMappingURL=mypro.css.map */
